version: '3.8'

services:
  postgres:
    image: postgres:16-alpine
    container_name: selanet-postgres
    restart: unless-stopped
    environment:
      POSTGRES_USER: selanet
      POSTGRES_PASSWORD: selanet_dev
      POSTGRES_DB: selanet_hive
    ports:
      - '5433:5432'
    volumes:
      - postgres_data:/var/lib/postgresql/data

  redis:
    image: redis:7-alpine
    container_name: selanet-redis
    restart: unless-stopped
    ports:
      - '6380:6379'
    volumes:
      - redis_data:/data

volumes:
  postgres_data:
  redis_data:
